body {
    font-family: "roboto", helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 12rem;
    padding-right: 12rem;
    align-items: center;
    background-color: #1f2937;

}

.header-links {
    display: flex;
    list-style: none;
    gap: 1rem;
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 12rem;
    padding-right: 12rem;
    gap: 5rem;
}

.skeleton {
    max-width: 500px;
    max-height: auto;
}

.random-container {
    display: flex;
    flex-direction: column;
   text-align: center;
   align-items: center;
   padding-top: 30px;
    padding-bottom: 35px;
    gap: 30px;
}

.content {
    display: flex;
    gap: 3rem;
}

.square {
    display: flex;
    flex-direction: column;
    max-width: 190px;
}

.square img {
    border-radius: 10%;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 10px 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sign-up-text button {
    border: solid white;
}

